@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}
button:active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.filled-red-button {
  background-color: #ff0062;
  border: 1px solid #ff0062;
  color: white;
}

.outlined-red-button {
  color: #ff0062;
  border: 1px solid #ff0062;
}

.app {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.app__title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  background-color: #ff0062;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-list {
  margin: 40px 0px 0px;
  width: 90%;
}
.projects-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.projects-list__title {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.projects-list__add-button {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.projects-list__content {
  min-height: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  max-height: 240px;
  overflow-y: scroll;
}
.projects-list__content::-webkit-scrollbar {
  display: none;
}

#active-projects {
  border: 1px solid #870099;
  background-color: #870099;
}

#finished-projects {
  border: 1px solid #535353;
  background-color: #535353;
}

.new-project-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: none;
}
.new-project-modal__background {
  background-color: rgb(157, 157, 157);
  opacity: 80%;
  width: 100%;
  height: 100%;
  position: absolute;
}
.new-project-modal__form {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  z-index: 10;
}
.new-project-modal label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}
.new-project-modal input,
.new-project-modal textarea {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.new-project-modal input::-moz-placeholder, .new-project-modal textarea::-moz-placeholder {
  font-style: italic;
}
.new-project-modal input::placeholder,
.new-project-modal textarea::placeholder {
  font-style: italic;
}
.new-project-modal input:focus,
.new-project-modal textarea:focus {
  outline: 2px solid #870099;
}
.new-project-modal input:focus::-moz-placeholder, .new-project-modal textarea:focus::-moz-placeholder {
  color: transparent;
}
.new-project-modal input:focus::placeholder,
.new-project-modal textarea:focus::placeholder {
  color: transparent;
}
.new-project-modal input[type=radio] {
  display: none;
  margin: 10px;
}
.new-project-modal input[type=radio] + label {
  display: inline-block;
  margin: 1px;
  padding: 5px 15px;
  background-color: #e7e7e7;
  border-color: #ddd;
  cursor: pointer;
}
.new-project-modal input[type=radio]:checked + label {
  background-image: none;
  outline: 1px solid #ff0062;
}
.new-project-modal__project-type-radio-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.new-project-modal__buttons-container {
  display: flex;
  justify-content: space-between;
}
.new-project-modal button {
  padding: 8px 16px;
  font-size: 16px;
}

.project {
  width: 90%;
  padding: 20px 12px 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  box-shadow: rgba(70, 70, 76, 0.2) 0px 2px 5px 2px;
}
.project__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.project__description {
  font-size: 14px;
  margin-bottom: 10px;
}
.project button {
  font-size: 14px;
  padding: 6px 18px;
}
.project button:first-child {
  margin-right: 5px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}/*# sourceMappingURL=index.css.map */